# Inject fault to which position.
x = 1
y = 0
z = 0

# Inject fault to which iteration.
# Example: injected_iteration = 10
injected_iteration = 5

# Lossy compressor. This part defines which lossy compressor should be chosen to compress data.
# Example: compressor = 1 (SZ lossy compressor)
#          compressor = 2 (ZFP lossy compressor)
#          compressor = 3 (? lossy compressor)
compressor = 1

# SZfaultError. This part defines the SZ lossy compressor details, more specifically, SZ error-mode and error-bound.
# ONLY when lossy compressor is SZ will this part be taken into consideration.
# Here, SZerrorBoundMode can be set up as ABS, REL. More details can be found in ./sz.config
# Example: SZerrorBoundMode = ABS
#          SZabsErrorBound = 0.1
#          SZrelBoundRatio = 1E-2 
# indicates the error bound is ABS (i.e. absolute error bound) with 0.1, while SZrelBoundRatio paratmeter will NOT be taken into consideration.
SZerrorBoundMode = ABS
SZabsErrorBound = 1E-9
SZrelBoundRatio = 1E-9
